.logo{
   max-width: 88px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 36px 16px;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include responsive() {
       flex-direction: column-reverse;
       height: auto;
       overflow: none ;
    }
    
}
.container-item-1 {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex {
    display: flex;
}
.w-auto {
    width: auto;
}
.align-items-center {
    align-items: center;
}
.spiderman {
    width: 130%;
    transform: translate3d(-140px,-50px,0);
    
    @include responsive() {
        width: 100%;
        transform: translate3d(0, 0, 0);
        position: relative;
        top: -40px;
    }
}
.buttons {
    z-index: 1;

    @include responsive() {
        display: flex;
    }
}
.btn {
    display: inline-block;
    border:1px solid $red;

    padding: 12px 32px;
    border-radius: 3px;
    transition: .7s ease;
    transform: skewX(-10deg);
    text-transform: uppercase;
    background: linear-gradient(267.72deg, $red-light 0.88%, $red 100%);
    position: relative;

   
    &::after {
        content:'';
        display: block;
        position: absolute;
        top:-2px;
        left:-2px;
        
        width: 30%;
        height: 70%;
        
        border-radius: 3px;
        
        opacity: 0;
        transition: .7s ease;

        border-top:3px solid #FFF;
        border-left: 3px solid #FFF;
    }

    &::before {
        content:'';
        display: block;
        position: absolute;
        
        bottom:-2px;
        right:-2px;
        
        width: 30%;
        height: 70%;
        
        border-radius: 3px;

        opacity: 0;
        transition: .7s ease;

        border-bottom:3px solid #FFF;
        border-right: 3px solid #FFF;
    }

    &:hover {
        transform: skewX(-10deg) scale(1.05);
        &::after {
          opacity: 1;
        }
        &::before {
            opacity: 1;
          }
    }
}
.btn, .btn-secondary {
    @include responsive() {
        text-align: center; 
    }
}
.btn-secondary {
    display: inline-block;
    border:1px solid $red;

    padding: 10px 32px;
    border-radius: 3px;
    transition: .7s ease;
    transform: skewX(-10deg);
    text-transform: uppercase;
    background: transparent;
    position: relative;
    @include responsive() {
        display:none;
     }
    &::after {
        content: '';
        display: block;
        position: absolute;
        
        top: -1px;
        left:-1px;

        z-index: -1;
        width: 0%;
        height: 103%;
        transition: .7s ease;
        background: linear-gradient(267.72deg, $red-light 0.88%, $red 100%);
    }

    &:hover {
        &::after {
            width: 102%;
        }
    }
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        background: linear-gradient(110deg, 
        $blue-dark 25%, 
        rgba(11, 12, 16, 0.80) 50%,
        $blue-dark 70%);
    }
    @include responsive() {
        display:none;
    }
}

.bg-loader {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: linear-gradient(225deg, $red 0%, $red-dark 100%);
}
